@charset "utf-8";
//网站主题颜色
@theme-color: #4daa7d;

//基础定义
@base-zh-font-family: "微软雅黑";
@base-en-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
@base-font-size: 14px;
@base-font-color: rgb(137, 137, 137);
@base-letter-spacing: 0.02em;
@base-font-weight: 700;

//---- Mobile Ui Overrides
@brand-primary: #007aff;
@brand-success: #4cd964;
@brand-warning: #fc0;
@brand-danger: #ff3b30;
@brand-info: #34aadc;

//----App
@app-bg: #fff;

//----Navbars(top)
@navbar-app-height: 50px;
@navbar-default-bg: @theme-color;
@navbar-default-color: #fff;
@navbar-default-border: @theme-color;
@navbar-border-radius: 0;
@navbar-padding: 10px;
@navbar-default-link-color: #7F7F7F;
@navbar-default-link-hover-color: @theme-color;
@navbar-default-link-active-color: darken(@theme-color, 20%);

//----Navbar Brand
@brand-font-size: 18px;

//----Navbars(bottom)
@navbar-app-bottom-height: 60px;
@navbar-app-bottom-bg: #f7f7f7;
@navbar-app-bottom-color: @brand-primary;
@navbar-app-bottom-border: @theme-color;











