<div>
    <div ui-content-for="title">
        <span>忘记密码</span>
    </div>
    <div ui-content-for="navbarAction">
        <a class="btn" href="#/account">
            <i class="fa fa-angle-left"></i>
        </a>
    </div>
</div>

<div class="scrollable">
    <div class="scrollable-content login-bg">
        <!--表单-->
        <div class="register-wrapper">
            <form class="form-underline" novalidate="" name="form" id="form">
                <div class="input-group">
                    <div class="form-lable">
                        手机号码
                    </div>
                    <input type="text" placeholder="请输入..." ng-model="ResetPasswordModel.Mobile" name="CellNumber" required mobile  />
                </div>
                <div ng-if="form.CellNumber.$dirty || isSubmitted" class="error-block">
                    <div ng-if="form.CellNumber.$error.required">手机号码不能为空！</div>
                    <div ng-if="form.CellNumber.$error.mobile">手机号码不正确！</div>
                </div>
                <div class="input-group">
                    <div class="form-lable">
                        验证码
                    </div>
                    <input type="text" placeholder="请输入..." ng-model="ResetPasswordModel.VerificationCode" name="VerificationCode" required maxlength="6" />
                    <button type="button" class="btn input-btn" ng-click="form.CellNumber.$valid && isEnableSend&& sendSMS()">{{btnText}}</button>
                </div>
                <div ng-if="form.VerificationCode.$dirty || isSubmitted" class="error-block">
                    <div ng-if="form.VerificationCode.$error.required">验证码不能为空！</div>
                </div>
                <div class="form-actions">
                    <button class="btn-blue" ng-click="postResetPwd()">
                        重置密码
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>