<div>
    <div ui-content-for="title">
        <span>用户注册</span>
    </div>
    <div ui-content-for="navbarAction">
        <a class="btn" ng-href="#/account">
            <i class="fa fa-times"></i>
        </a>
    </div>
</div>
<div class="scrollable login-bg">
    <div class="scrollable-content">
        <div class="register-wrapper">
            <div class="form-header">
                欢迎加入
            </div>
            <form role="form" class="form-underline" novalidate="" name="form">
                <fieldset>
                    <div class="form-lable">
                        手机号
                    </div>
                    <div class="form-input">
                        <input type="text" name="Mobile" ng-model="model.Mobile" placeholder="请输入手机号..." required mobile autocomplete="off" />
                    </div>
                    <div class="error-block" ng-if="form.Mobile.$dirty || isSubmitted">
                        <div ng-show="form.Mobile.$error.required">手机号不能为空！</div>
                        <div ng-show="form.Mobile.$error.mobile">请输入正确的手机号！</div>
                    </div>
                    <div class="form-lable">
                        密码
                    </div>
                    <div class="form-input">
                        <input ng-if="!isReadable" type="password" name="Password" ng-model="model.Password" placeholder="请输入密码..." required ng-minlength="8" autocomplete="off" />
                        <input ng-if="isReadable" type="text" name="Password" ng-model="model.Password" placeholder="请输入密码..." required ng-minlength="8">
                        <i class="fa " ng-class="{'icon-eye-open':isReadable,'icon-eye-close':!isReadable}" ng-click="toggleShow()"></i>
                        <!--</span>-->
                    </div>
                    <div class="error-block" ng-if="form.Password.$dirty || isSubmitted">
                        <div ng-show="form.Password.$error.required">
                            密码不能为空！
                        </div>
                        <div ng-show="form.Password.$error.minlength">
                            密码长度不能低于8位！
                        </div>
                    </div>
                </fieldset>
            </form>
            <div class="form-actions">
                <div class="btn-next pull-right" ng-click="sendSMS()">
                </div>
            </div>
        </div>
    </div>
</div>