<div id="resetPwdModal" class="modal hide" tabindex="-1" ng-controller="resetPasswordCtrl">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="blue bigger">修改密码</h4>
    </div>
    <div class="modal-body center">
        <form name="changePwdForm">
            <div class="span4-ext">
                <div class="control-group ">
                    <label class="form-label">
                        旧密码<span class="form-required ">*</span>
                    </label>
                    <input id="oldPassword" class="span3" type="password" name="oldPassword" ng-model="changePwdModel.oldPassword" required />
                    <span id="errorOldPssword" class="custom-error" ng-show="changePwdForm.oldPassword.$dirty||changePwdForm.isSubmitted">
                        <span ng-show="changePwdForm.oldPassword.$error.required">不能为空</span>
                    </span>
                </div>
            </div>
            <div class="span4-ext">
                <div class="control-group ">
                    <label class="form-label">
                        新密码<span class="form-required ">*</span>
                    </label>
                    <input id="newPassword" class="span3" type="password" name="newPassword" ng-model="changePwdModel.newPassword" ng-maxlength="30" required />
                    <span id="errorNewPssword" class="custom-error" ng-show="changePwdForm.newPassword.$dirty||changePwdForm.isSubmitted">
                        <span ng-show="changePwdForm.newPassword.$error.required">不能为空</span>
                        <span ng-show="changePwdForm.newPassword.$error.maxlength">最大长度30字符</span>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="{{changePwdForm.$valid?'modal':''}}" class="btn btn-small btn-primary" ng-click="changePassword()">确定</button>
        <button type="button" data-dismiss="modal" class="btn btn-small btn-primary">返回</button>
    </div>
</div>