@import "app-variables.less";


//-----Message
@widget-padding: 15px;

.widget-center-wrapper {
    
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;

    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: -100;
    font-family: @base-zh-font-family;

    .widget-dialog {
        background-color: rgba(0,0,0,.5);
        border-radius: 10px;
        color: #fff;


        .widget-content {
            margin: 0;
            font-size: 1em;

            .widget-header {
                padding: @widget-padding;

                .title {
                    color: rgb(51, 51, 51);
                    margin-bottom: 0;
                }

                .close {
                    color: rgba(0,0,0,.5);
                    font-size: 1.3rem;
                    float: right;
                }
            }

            .widget-body {
                position: relative;
                padding: @widget-padding;

                .loading-spinner {
                    font-size: 3em;
                    color: #fff;
                }
            }

            .widget-footer {
                padding: @widget-padding;
                text-align: right;
                border-top: 1px solid #e5e5e5;

                .btn-primary {
                    background-color: @theme-color;
                    border-color: @theme-color;
                }
            }
        }
    }
}


.box-wrapper {
    background-color: rgba(0,0,0,.5);

    .widget-dialog {
        width: 80%;
        background-color: #fff;
        color: rgb(0, 0, 0);

        .widget-content {
            .widget-body {
                padding-top: 0;
            }
        }
    }
}

.widget-show {
    opacity: 1;
    z-index: 10;
}

///////////////////tooltip/////////////////////

.tooltip {
    z-index: -100;
    display: none;

    .tooltip-inner {
        p {
            margin-bottom: 0;
        }
    }
}

.tooltip.left {
    right: 20%;
}


.tooltip-show {
    opacity: 1 !important;
    z-index: 100;
    display: inline-block;
}
