/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@home-active-name: 'home-active';
@home-active-x: 0px;
@home-active-y: 0px;
@home-active-offset-x: 0px;
@home-active-offset-y: 0px;
@home-active-width: 76px;
@home-active-height: 76px;
@home-active-total-width: 236px;
@home-active-total-height: 156px;
@home-active-image: '../images/icon-sprite.png';
@home-active: 0px 0px 0px 0px 76px 76px 236px 156px '../images/icon-sprite.png' 'home-active';
@home-name: 'home';
@home-x: 80px;
@home-y: 0px;
@home-offset-x: -80px;
@home-offset-y: 0px;
@home-width: 76px;
@home-height: 76px;
@home-total-width: 236px;
@home-total-height: 156px;
@home-image: '../images/icon-sprite.png';
@home: 80px 0px -80px 0px 76px 76px 236px 156px '../images/icon-sprite.png' 'home';
@mark-active-name: 'mark-active';
@mark-active-x: 0px;
@mark-active-y: 80px;
@mark-active-offset-x: 0px;
@mark-active-offset-y: -80px;
@mark-active-width: 76px;
@mark-active-height: 76px;
@mark-active-total-width: 236px;
@mark-active-total-height: 156px;
@mark-active-image: '../images/icon-sprite.png';
@mark-active: 0px 80px 0px -80px 76px 76px 236px 156px '../images/icon-sprite.png' 'mark-active';
@mark-name: 'mark';
@mark-x: 80px;
@mark-y: 80px;
@mark-offset-x: -80px;
@mark-offset-y: -80px;
@mark-width: 76px;
@mark-height: 76px;
@mark-total-width: 236px;
@mark-total-height: 156px;
@mark-image: '../images/icon-sprite.png';
@mark: 80px 80px -80px -80px 76px 76px 236px 156px '../images/icon-sprite.png' 'mark';
@user-active-name: 'user-active';
@user-active-x: 160px;
@user-active-y: 0px;
@user-active-offset-x: -160px;
@user-active-offset-y: 0px;
@user-active-width: 76px;
@user-active-height: 76px;
@user-active-total-width: 236px;
@user-active-total-height: 156px;
@user-active-image: '../images/icon-sprite.png';
@user-active: 160px 0px -160px 0px 76px 76px 236px 156px '../images/icon-sprite.png' 'user-active';
@user-name: 'user';
@user-x: 160px;
@user-y: 80px;
@user-offset-x: -160px;
@user-offset-y: -80px;
@user-width: 76px;
@user-height: 76px;
@user-total-width: 236px;
@user-total-height: 156px;
@user-image: '../images/icon-sprite.png';
@user: 160px 80px -160px -80px 76px 76px 236px 156px '../images/icon-sprite.png' 'user';
@spritesheet-width: 236px;
@spritesheet-height: 156px;
@spritesheet-image: '../images/icon-sprite.png';
@spritesheet-sprites: @home-active @home @mark-active @mark @user-active @user;
@spritesheet: 236px 156px '../images/icon-sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
