@import "app-variables.less";
@import "icon-sprite.less";
@import "icons.less";

//************************* layout style start ***************************//
.app {
    background: @app-bg;
}


.hide {
    display: none;
}

.show {
    display: block;
}

i {
    display: inline-block;
}

//错误提示块
.error-block {
    width: 100%;
    text-align: center;
    background: #c8c8c8;
    color: #ee1616;
    margin: 8px 0;
}

.error-block div {
    padding: 5px 0;
}

//*************navbar app***************//
.navbar-absolute-top {
    min-height: @navbar-app-top-height;
    color: @navbar-top-color;
    background: @navbar-top-bg;
    border: none;
    border-color: @navbar-top-border;
}

.navbar-app > .navbar-brand {
    font-weight: @base-font-weight;
    letter-spacing: @base-letter-spacing;
    font-size: @brand-font-size;
}

.navbar-app .ui-back {
    font-size: @brand-font-size;
    color: #fff;
}

//---navbar bottom
.navbar-absolute-bottom {
    min-height: @navbar-app-bottom-height;
    color: @navbar-app-bottom-color;
    background: @navbar-app-bottom-bg;
    border-color: @navbar-app-bottom-border;

    .btn-navbar, .btn {
        padding: @navbar-bottom-padding 0;
        color: @navbar-default-link-color;
        line-height: normal;

        &:hover, &.active {
            color: @navbar-default-link-hover-color;

            .icon-home {
                .sprite-ritina(@home-active);
            }

            .icon-user {
                .sprite-ritina(@user-active);
            }

            .icon-mark {
                .sprite-ritina(@mark-active);
            }
        }

        p {
            line-height: 20px;
            margin-bottom: 0px;
        }

        .nav-icon {
            font-size: 32px;
        }

        .icon-home {
            .sprite-ritina(@home);
        }

        .icon-user {
            .sprite-ritina(@user);
        }

        .icon-mark {
            .sprite-ritina(@mark);
        }
    }
}

.has-navbar-top .app-body {
    padding-top: @navbar-app-top-height;
}

.has-navbar-bottom .app-body {
    padding-bottom: @navbar-app-bottom-height + @navbar-bottom-padding*2;
}
