<div>
    <div ui-content-for="title">
        <span>用户详情</span>
    </div>
    <div ui-content-for="navbarAction">
        <a class="btn" ng-href="#/users">
            <i class="fa fa-angle-left"></i>
        </a>
    </div>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <div>{{user.name}}</div>
        <button class="btn btn-green" ng-click="showMsg()">测试消息</button>

        <button class="btn btn-green" ng-click="showAlert()">弹出框</button>

        <button class="btn btn-green" ng-click="showConfirm()">确认框</button>

        <div data-tooltip="this is custom tooltip" data-place>
            tooltip
            <div class="tooltip bottom" style="opacity: 1;">
                <div class="tooltip-arrow"></div>
                <div class="tooltip-inner">
                    Tooltip on the left
                </div>
            </div>
        </div>

    </div>
</div>