<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>选择用户</title>
    <meta name="description" content="User reset Password" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- basic styles -->
    <link href="libs/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="libs/assets/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="libs/assets/css/font-awesome.min.css" />
    <!--[if IE 7]>
      <link rel="stylesheet" href="libs/assets/css/font-awesome-ie7.min.css" />
    <![endif]-->
    <!-- page specific plugin styles -->
    <!-- fonts -->

    <link rel="stylesheet" href="libs/assets/css/ace-fonts.css" />
    <!-- ace styles -->
    <link rel="stylesheet" href="libs/assets/css/ace.min.css" />
    <link rel="stylesheet" href="libs/assets/css/ace-responsive.min.css" />
    <link rel="stylesheet" href="libs/assets/css/ace-skins.min.css" />
    <link href="css/customFix.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="libs/ztree/css/metroStyle/metroStyle.css" type="text/css">
    <!--[if lte IE 8]>
      <link rel="stylesheet" href="libs/assets/css/ace-ie.min.css" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <script src="libs/assets/js/ace-extra.min.js"></script>
</head>
<body>
    <div class="main-container container-fluid">
        <div class="page-content" ng-controller="selectUserCtrl">
            <div class="row-fluid">
                <div class="span12">

                    <div class="row-fluid">
                        <div class="span5">
                            <div class="nav-search  nav-search-left">
                                <form class="form-search">
                                    <span class="input-icon">
                                        <input type="text" placeholder="输入账号或姓名" class="input-small nav-search-input" id="nav-search-input" autocomplete="off" ng-model="keyword" ng-change="doSearch()" />
                                        <i class="icon-search nav-search-icon"></i>
                                    </span>
                                </form>
                            </div>
                        </div>
                        <div class="span7 btn-panel">
                            <button class="btn btn-small  btn-success pull-right" ng-click="confirmSelect()">
                                <i class="icon-ok"></i>确认选择
                            </button>
                        </div>
                    </div>

                    <div class="row-fluid margin-top-10">
                        <div class="span12">
                            <div class="div-panel">
                                <div class="div-panel-header">
                                    <h4 class="lighter smaller">组织结构</h4>
                                </div>
                                <div class="div-panel-body">
                                    <ul class="ztree" dir-tree="deptTree" tree-data="rootDepts" tree-config="treeConfig" click-node="clickNode" load-child-nodes="loadChildNodes"></ul>

                                </div>
                            </div>
                            <div class="div-panel">
                                <div class="div-panel-header">
                                    <h4 class="lighter smaller">部门人员</h4>
                                    <div class="div-panel-toolbar">
                                        <button class="btn btn-mini btn-light bigger" ng-click="checkAll()">
                                            <i class="icon-check"></i>
                                            全选
                                        </button>
                                    </div>
                                </div>
                                <div class="div-panel-body">
                                    <div class="row-fluid">
                                        <div class="span6 no-margin-left" ng-repeat="user in users">
                                            <input name="form-field-checkbox" type="checkbox" class="ace" ng-checked="user.checked" ng-model="user.checked">
                                            <span class="lbl" ng-bind="user.DisplayName"> </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="div-panel">
                                <div class="div-panel-header">
                                    <h4 class="lighter smaller">已选人员</h4>
                                    <div class="div-panel-toolbar">
                                        <button class="btn btn-mini btn-light bigger" ng-click="clearChecked()">
                                            <i class="icon-check-empty"></i>
                                            清空
                                        </button>
                                    </div>
                                </div>
                                <div class="div-panel-body">
                                    <div class="row-fluid">
                                        <div class="span6 span6-ext external-event label-success " ng-repeat="user in users|filter:{checked:true}">
                                            <i class="icon-user"></i>
                                            <span ng-bind="user.DisplayName"></span>
                                            <button type="button" class="close" ng-click="removeUser(user)">
                                                <i class="icon-remove"></i>
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.row-fluid -->
        </div><!--end page content-->
    </div><!-- /.main-container -->
    <script type="text/javascript" charset="utf-8" data-main="js/contentApp/contentMain" src="libs/require.js"></script>
</body>
</html>